@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');
@import './Variables.css';

*{
    font-family: "Roboto Slab";
    padding: 0px;
    margin: 0px;

    font-size: var(--font-size-small);
}

.loading, .loading:hover{
    cursor: wait !important;
}

header, main, footer, body, .navbar{
    color: var(--text-color);
    transition: 0.2s ease-in;
}

body{
    background-color: var(--bg-color);
    min-height: 100vh;
}

#root{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

.navbar{
    width: 100%;
    padding: 0px;

    display: flex;
    justify-content: end;
    align-items: start;
    
    box-shadow: 0px 0px 1px black;
    background-color: var(--bg-color);
}


.navbar button{
    border: none;
}

.navbar a, .navbar button{
    padding: 15px;
    font-weight: bold;
    
    color: var(--text-color);
    text-decoration: none;

    font-size: var(--font-size-medium);

    background-color: var(--bg-color);

    transition: 0.2s ease-in;
}

.navbar a:hover, .navbar button:hover{
    color: white;
    background-color: var(--primary-color);
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 1200px;
    max-width: 100%;

    text-align: center;
    padding: 20px;

}

.burger-menu{
    background: none;
    border: none;
    color: white;
}

.burger-menu:hover{
    color: rgb(196, 196, 196);
}

footer{
    margin-top: auto;
}

input, textarea{
    resize: none;
    padding: 10px;

    border-radius: 15px;
    background-color: var(--bg-secondary-color);
    color: var(--text-secondary-color);

    border: 1px solid var(--text-secondary-color);

    transition: 0.15s ease-in;
}

input:hover, textarea:hover{
    border: 1px solid gray;
    box-shadow: none;
}

.input-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.input-container input{
    width: 100%;
}

.wrong-input{
    color: rgb(167, 34, 34) !important;
    border-color: rgb(117, 21, 21) !important;
}

.wrong-input:hover{
    border-color: rgb(143, 0, 0) !important;
}

.btn-outline-secondary{
    border-radius: 15px !important;
    border-color: var(--text-secondary-color) !important;
    color: var(--text-secondary-color) !important;
}

.btn-outline-secondary:hover{
    background-color: var(--text-secondary-color) !important;
    border-color: var(--bg-secondary-color) !important;
    color: var(--bg-secondary-color) !important;

    box-shadow: none !important;
}

img{
    font-size: 0px;
}

@media only screen and (min-width: 700px) {
    .burger-menu{
        display: none;
    }
  }

@media only screen and (max-width: 700px) {
    .navbar{
        display: none;
        
    }

    .navbar a, .navbar button{
        width: 100%;
        text-align: left;
    }

    .navbar.open{
        display: flex;
        flex-direction: column;
    }

    main{
        padding: 10px;
    }
  }

