:root{
    --primary-color: #c0982a;
    --bg-color-light: #e7e7e7;
}

.search-bar-container{
    position: relative;
    width: 100%;
    padding: 0px;
    margin: 0px;
}

.map-search-bar{
    width: 100%;    
    padding: 10px;

    border-radius: 15px;
    font-size: 20px;

    border: 1px solid gray;

    transition: 0.25s ease-in;
}

.search-result-container{
    z-index: 9999;
    width: 100%;
    position: absolute;
    box-shadow: 0px 0px 4px gray;
}

.search-result{
    padding: 5px;
    background-color: white;

    transition: 0.25s ease-in;
}

.search-result h5{
    margin: 0px;
}

.search-result:hover, .selected-result{
    background-color: var(--bg-color-light);
}

.search-result:hover{
    cursor: pointer;
}

.search-result .search-result-name{
    margin: 0px;
}


.map-search-bar:focus{
    border: 1px solid gray;
    border-radius: 10px 10px 5px 5px;
    box-shadow: none;
}


.map-container{
    display: flex;

    height: 500px;
    width: 100%;

    margin: 10px;

    box-shadow: 0px 0px 2px gray;
}

#map, .grave-information-panel{
    height: 100%;
}

#map{
    flex: 5;
}

.grave-information-panel{
    padding: 8px;
    color: rgb(70, 70, 70);
    background-color: white;
    flex: 2;
}

.grave-marker-icon{
    display: flex !important;
    justify-content: center;
    align-items: center;

    color: white;
    font-weight: bold;
    text-shadow: 
        1px 1px 0px black,   
        -1px -1px 0px black,
        1px -1px 0px black,
        -1px 1px 0px black,
        0px 1px 5px black,  
        1px 0px 5px black;
}

.selected-icon{
    color: red;
    font-weight: bold;
}


@media only screen and (max-width: 600px) {
    .map-container{
        flex-direction: column;
    }

    #map{
        width: 100%;
    }
  }