input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.search-bar-form, .result-box{
    width: 100%;
    padding: 0px;
    margin: 0px;
}


.search-bar-form .top-part{
    display: flex;
    gap: 10px;
}

.map-search-bar{
    width: 100%;    
}

.search-bar-form{
    font-size: var(--font-size-medium);
}

.search-bar-form input:focus{
    border: 1px solid gray;
    box-shadow: none;
}

.search-bar-form button{
    display: flex;
    justify-content: center;
    align-items: center;

    font-weight: bold;
}

.advanced-search-toggle{
    line-height: 0px;
    width: 50px;
}

.advanced-search-toggle i{
    font-size: inherit;
}

.birth-date-inputs, .death-date-inputs{
    width: 100%;
    display: flex;
    align-items: baseline;
    margin-top: 10px;
}

.birth-date-inputs input, .death-date-inputs input{
    width: 100%;
    max-width: 100px;
    box-sizing: border-box;
    text-align: center;

    margin-left: 15px;
}

.birth-date-inputs input.year-input, .death-date-inputs input.year-input{
    max-width: 200px;
}

.birth-date-inputs h3, .death-date-inputs h3{
    flex: 1;
    text-align: left;
    min-width: 300px;

    color: var(--text-secondary-color);
}

.result-box-header{
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    padding-top: 20px;
}

.result-close-button{
    padding: 0px;

    border: none;
    background: none;

    color: var(--text-color);
    font-weight: bold;
}

.result-close-button:hover{
    color: var(--text-secondary-color);
}

.search-result-container{
    padding: 20px 5px;
    display: flex;
    align-items: center;
    gap: 20px;

    width: 100%;

    overflow-x: auto;
}

.search-result-container.center-flex{
    justify-content: center;
}

.search-result-container .lds-ring{
    margin-top: 20px;
}

.search-result{
    display: flex;
    flex-direction: column;
    align-items: center;

    height: 300px;
    width: 200px;

    padding:5px;
    padding-bottom: 10px;
    border: 1px solid var(--text-secondary-color);

    color: var(--text-secondary-color);
    font-size: var(--font-size-small);
    border-radius: 0px 0px 25px 25px;

    transition: 0.05s ease-in;
}

.search-result:hover{
    background-color: var(--text-secondary-color) !important;
    border-color: var(--bg-secondary-color) !important;
    color: var(--bg-secondary-color) !important;
}

.search-result img{
    width: 100%;
    border: 1px solid var(--text-secondary-color);
}

.search-result h5{
    font-size: var(--font-size-small);
    margin: 5px;
}

.search-bar-form hr, .search-result hr, .result-box hr{
    margin: 0px;
}

.search-result:hover{
    cursor: pointer;
}

.search-result .search-result-name{
    margin: 0px;
}

@media only screen and (max-width: 600px) {
    .birth-date-inputs h3, .death-date-inputs h3{
        min-width: 120px;
        font-size: var(--font-size-small);    
    }

    .search-button-desktop-content{
        display: none;
    }
  }

