.grave-information-panel{
    display: flex;
    flex-direction: column;
    align-items: center;

    color: var(--text-secondary-color);
    background-color: var(--bg-secondary-color);
    flex: 1;
    overflow-y: auto;
    transition: 0.1s ease-in;
}

.grave-information-panel.empty{
    justify-content: center;
    padding: 20px;
}

.grave-information-panel.expanded{
    flex: 2.5;
}

.empty-header{
    padding: 5px;
    font-size: calc(var(--font-size-medium)*1.2);    
}

.grave-information-panel .top-part{
    width: 100%;
    padding: 5px;
    display: flex;
}

.top-part>div, .top-part>img{
    margin: 2px;
}

.grave-information-panel .modal-image-wrapper, .search-result img{
    aspect-ratio: 1/1;
    background-color: var(--bg-color);
    background-size: 100%;
    object-fit: cover;
    object-position: center;
    font-size: 0px;
}



.grave-information-panel .bottom-info-container{
    width: 100%;
}
.grave-information-panel img{
    object-fit: cover;

    border: 1px solid var(--text-secondary-color);
}
.additional-grave-info{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    min-width: 50%;
}

.location-box{
    font-weight: bold;
}

.grave-people-header{
    border-bottom: 1px solid var(--text-secondary-color);
    font-size: var(--font-size-big);
    display: flex;
    align-items: center;
    justify-content: center;
}

.grave-people-header svg{
    font-size: var(--font-size-medium);
    margin: 3px;
}

.people-container{
    width: 100%;
    display: flex;
    flex-direction: column;

    margin-bottom: .5rem;
}

.person-info:first-child{
    border-top: none;
}

.person-info{
    border-top: 1px solid gray;
    margin-left: 5px;
    margin-right: 5px;
}

.person-info{
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 5px;

    margin-bottom: 5px;
 }

.person-info-name{
    font-size: var(--font-size-medium);
    margin: 0px;
}

.person-info-dates{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

i.date-container{
    font-size: var(--font-size-small);
    display: flex;
    width: 50%;

    justify-content: space-between;

    align-self: center;
    padding: 0px 5px;
}

i.date-container:first-child{
    border-right: 1px solid var(--text-secondary-color);
}

.admin-panel-container{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.admin-panel-container button{
    background: none;
    border: none;
    color: var(--text-color);

    margin: 5px;
}

@media only screen and (min-width: 700px) {
    .grave-information-panel .top-part{
        border-bottom: 1px solid var(--text-secondary-color);
    }

    .grave-information-panel{
        border-left: 1px solid var(--text-secondary-color);
    }
  }

@media only screen and (max-width: 700px) {
    .grave-information-panel .top-part{
        border-top: 1px solid var(--text-secondary-color);
    }

    .grave-information-panel{
        display: flex;
        flex-direction: column-reverse;
        border-top: 1px solid var(--text-secondary-color);
    }
}


